###############################################
# LEVELING/BED
###############################################
[endstop_phase]

[probe]
#pin: !P1.27
pin: !P2.0 # using the servo plug
x_offset: +27 #-51 #-46#-51 #-35#-32 # -45 #-45.4 #+48
y_offset: -47 #+1 #-5 #-3 #0 #-4 #-12 #-2
z_offset: 0.0
speed: 4
lift_speed: 4
samples: 2
sample_retract_dist: 4
samples_tolerance: 0.100
samples_tolerance_retries: 2
samples_result: average

# This adds a bed mesh calibrate GCode
[bed_mesh]
speed: 120 #60
horizontal_move_z: 5
mesh_min: 50,17 #36,51 #51,51 #46,46 
mesh_max: 287,250 #184,207 
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic
bicubic_tension: .2
relative_reference_index: 12
mesh_pps: 2,2


[bed_screws]
screw1: 30,270
screw2: 270,270
screw3: 270,30
screw4: 30,30


[screws_tilt_adjust]
screw1: 85,45
screw1_name: Front left screw
screw2: 85,206
screw2_name: Rear left screw
screw3: 172,45
screw3_name: Front right screw
screw4: 172,206
screw4_name: Rear right screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M3

