# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768 or LPC1769(Turbo).
# Measure 120mm, then extrude 100mm
# G1 E100 F100
# rotation_distance = old_e_steps * ((120 - distance_to_mark) / 100)

#The pressure_advance value can then be calculated as pressure_advance = <start> + <measured_height> * <factor>. 
#(For example, 0 + 12.90 * .020 would be .258.)

# See the example.cfg file for a description of available parameters.
# MVS 
# Speed/60 to convert mm/min to mm/s *  area of the cross-section of my 1.75mm filament (2.405)




[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: P2.3

#[heater_fan my_nozzle_fan]
#pin: P2.4
#heater: extruder
#heater_temp: 50.0
#fan_speed: 1.0


[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

[firmware_retraction]
retract_length: 4.5
retract_speed: 25
unretract_extra_length: 0
unretract_speed: 25


#[safe_z_home]
#home_xy_position: 0,300 #48  #80,48 #80,48 #32,48 
#speed: 50
#z_hop: 5                # Move up 10mm
#z_hop_speed: 5

[homing_override]
set_position_z: 5
axes: xyz
gcode:
    G1 Z10
    G28 Y0
    G28 X0
    G28 Z0
    G1 Z10

#[homing_heaters]
#heaters: extruder, heater_bed

[verify_heater extruder]
max_error: 130
check_gain_time: 28
hysteresis: 6

[idle_timeout]
gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
      TURN_OFF_HEATERS
      M84
timeout: 400
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.



[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1600000928813AAF78786A5CC02000F5-if00
#serial: /dev/ttyAMA0
#serial: /dev/serial0
baud: 250000
restart_method: arduino

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4500
max_accel_to_decel: 2250
#max_accel: 10000
#max_accel_to_decel: 10000
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5.0

# [include probe_calibrate.cfg]
[include macros_prints.cfg]
[include stepper.cfg]
[include tmc2209.cfg]
[include leveling.cfg]
[include adxl345.cfg]


[virtual_sdcard]
path: /home/pi/sdcard

[pause_resume]
[display_status]


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
[display]
lcd_type: st7920
cs_pin: P1.19
sclk_pin: P1.21
sid_pin: P1.23
encoder_pins: ^P1.18, ^P1.20
click_pin: !P0.28


[output_pin beeper]
pin: P1.30

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.357
#*# pid_ki = 0.838
#*# pid_kd = 100.502
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.423
#*# pid_ki = 0.901
#*# pid_kd = 1455.705
#*#
#*# [stepper_z]
#*# position_endstop = -0.120
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 13/64
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 97.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 85.4
